.contact-list {
  background: linear-gradient(#a878d8, #f0d8f0);
  color: #fff;
  width: 30vw;
  height: 100vh;
  padding: 20px;
}

.contact-title {
  font-size: 14px;
  margin-top: 20px;
  padding: 8px;
}

.contact-card-list {
  display: grid;
  grid-template-columns: 1fr 5fr;
  color: #fff;
  background: none;
  text-decoration: none;
  padding: 10px;
}

.contact-card-list:hover {
  display: grid;
  grid-template-columns: 1fr 5fr;
  color: #a878d8;
  border-radius: 4px;
  background: #f0d8f0;
  text-decoration: none;
  padding: 10px;
}

.contact-card-list-active {
  background-color: #9060a8;
  display: grid;
  color: #fff;
  border-radius: 4px;
  grid-template-columns: 1fr 5fr;
  text-decoration: none;
  padding: 10px;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%; 
  overflow-y: scroll;
}

button {
  border: none;
}

.contact-image {
  object-fit: cover;
  height: 67px;
  display: inline-block;
  width:  67px;
  border-radius: 50%; 
  margin-right: 15px;
}

.contact-search-bar {
  background-color: #fff;
  margin-bottom: 40px;
  border-radius: 20px;
  height: 50px;
}

.contact-search {
  margin: 10px;
  outline: none;
  border: none;
}

.contact-sub {
  font-size: 10px;
}

.contact-search {
  padding: 3px 5px;
}

.contact-name {
  font-weight: bold;
  font-size: 14px;
}

@media (max-width: 768px) {
  .contact-list {
    padding: 10px
  }
  .contact-search-bar {
    display: none;
  }
  .contact-sub {
    display: none;
  }
  .contact-name {
    display: none;
  }
  .contact-card-list-active {
    display: grid;
    grid-template-columns: 1fr ;
    border-radius: 20px;
  }
  .contact-image {
    margin: 0;
  }

}

@media (max-width: 480px) {
  .contact-list {
    display: none;
  }
}