* {
  padding: 0;
  margin: 0;
}

.home-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lazy-loader-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.inner-circle {
  position: relative;
  margin: 10px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  padding: 10px;
  background: #ffffff;
}

.lazy-loader {
  background-image: linear-gradient( to bottom, #a878d8 , #f0d8f0);
  content: 'Loading ...';
  position: absolute;
  padding: 20px;
  z-index: -1;
  border-radius: inherit;
  animation: 3s infinite linear spin;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media (max-width: 1260px) {
  .home-body {
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-columns: 3fr 1fr;
  }
}

@media (max-width: 480px) {
  .home-body {
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-columns: 3fr;
  }
}
