.login,
.image {
  min-height: 100vh;
}
.bg-image {
  background-image: url('https://images.unsplash.com/photo-1497366216548-37526070297c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  background-position: center center;
}

.maincolor {
  background-color: "#4C5270";
  color: "#4C5270"
}