.messages {
  background: linear-gradient(#a878d8, #f0d8f0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-messages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50vw;
}

.header-brand {
  padding: 23px 0;
  margin: 0 10px;
  font-weight: bold;
  color: #fff;
}

.header-image {
  object-fit: cover;
  width: 75px;
  height: 75px;
  padding: 10px;
  margin-left: 20px;
  border-radius: 50%;
}

.header-options {
  display: flex;
  padding-top: 23px 10px;
}

.header-button {
  background:  none;
  border: none;
  color: #fff;
  padding: 10px;
  margin-right: 10px;
}

button {
  transition-duration: 0.4s;
}

.header-button:hover {
  color: #9060a8
}

.message-box {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  height: 80vh;
  padding: 20px
}

.message-content-container {
  padding: 20px;
  background-color:  #a878d8;
  color: #fff;
  margin: 5px;
  width: 40vw;
  border-radius: 30px 5px 20px 20px;
}

.message-content {
  padding: 5px;
  margin-right: 50px;
  font-size: 12px;
}

.message-container-is-user {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-self: flex-end;
  width: 40vw;
  border-radius: 20px;
}

.message-content-container-other-user {
  padding: 20px;
  background-color: #f0d8f0;
  color: #333;
  margin: 5px;
  width: 40vw;
  border-radius: 5px 30px 20px 20px;
}

.message-container-other-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 40vw;
  border-radius: 20px;
}

.message-content-other-user {
  padding: 5px;
  background-color:  #a878d8;
  color:#a878d8;
  font-size: 12px;
}

.message-avatar {
  object-fit: cover;
  width: 50px;
  height: 50px;
  margin: 5px 5px;
  border-radius: 50%;
}

.message-time-stamps {
  display: flex;
  font-size: 12px;
  justify-content: flex-end;
  font-weight: bold;
}



.emoji-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 20px;
  background-color:  #a878d8;
  color: #fff;
}

.emoji-btn:hover {
  background-color:  #fff;
  color: #a878d8
}

.chat-input-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

textarea {
  resize: both;
  padding: 15px
}

.loading-icon {
  width: 50px;
  height: 50px;
  border: 4px solid #fff;
  border-bottom: 4px solid transparent;
  border-radius: 100%;
  animation: 1s infinite linear spin;
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 20px
}

.input-chat {
  width: 40vw;
  background-color: #DDD;
  outline: none;
  border: none;
  height: 50px;
  border-radius: 20px;
  margin-bottom: 20px;
  resize: none;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@media (max-width: 960px) {
  .header-messages {
    width: 100%;
  }
  .message-box {
    width: 100%;
  }
}