.sidebar {
  background: linear-gradient(#a878d8, #f0d8f0);
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 20vw;
  padding: 2em;
  height: 100vh;
}

.profile-pic {
  object-fit: cover;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 3px solid #7bb;
  margin: 10px
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.sidebar-profile {
  margin-bottom: 20px;
}


.sidebar-name {
  line-height: 2em;
  font-size: 17px;
}

.sidebar-links {
  padding: 10px;
  margin: 10px 0;
}

.sidebar-link {
  list-style: none;
  padding: 4px;
  margin: 10px 5px;
}

.sidebar-logout {
  background: none;
  color: #fff;
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #fff;
  margin: 10px 5px;
}

@media (max-width: 1260px) {
  .sidebar {
    display: none;
    padding: 1px
  }
}

@media (max-width: 960px) {
  .sidebar {
    display: none;
    padding: 1px
  }
}